.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
}

.about__data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--boder-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;
}

.about__data::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 15%;

}

.about__description {
    margin-bottom: 1rem;
    text-align: justify;
}

.about__skills {
    row-gap: 1.25rem;
}

.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.skill_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skill__number {
    line-height: 1.2;
}

.skill__bar,
.skill__percentage {
    height: 7px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.skill__bar {
    background-color: #f1f1f1;
}

.skill__percentage {
    display: block;
}

.development {
    width: 90%;
    background-color: rgb(255, 76, 96);
}

.ui_desgin {
    width: 80%;
    background-color: rgb(255, 209, 92);
}

.photography {
    width: 70%;
    background-color: rgb(108, 108, 299);
}

.about__img {
    margin-top: 26px;
    margin-left: 54px;
    width: 75%;
    height: 75%;
}

.about__img:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.about__boxes {
    margin-top: 4.35rem;
    margin-left: 7rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
}

.about__box {
    display: flex;
    column-gap: 24px;
}

.about__icon {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about__title {
    font-size: 1.875rem;
}

.btn-down {
    margin-top: 20px;
    width: 40%;
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 720px;
    }

    .about__img {
        margin-top: 30px;
        margin-left: 125px;
    }

    .btn-down {
        width: 60%;
    }

    .about__boxes {
        grid-template-columns: repeat(2, 20rem);
    }

    .about__box {
        margin-top: 2rem;
    }

    .about__data {
        margin-left: 80px;
    }

    .about__data::before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;

    }
}


@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 330px;
        column-gap: 1.875rem;
        margin-left: 20px;
    }
    .about__data {
        margin-left: -2.2rem;
        left: 4%;
    }

    .about__img {
        margin-left: 45px;
        margin-bottom: 1rem;
    }

    .btn-down {
        text-align: center;
        width: 100%;    
    }

    .about__description {
        text-align:justify;
    }
}

@media screen and (max-width: 568px) {
    .about__boxes {
        grid-template-columns: 30px;
    }
}